@{
    ViewData["Title"] = "Home";
}

<!--
    Simple home page
-->

<div class="rounded text-center bg-transparent">
    <h1>Joel Hilton Movie Collection</h1>

    <p>Click on the links above to explore the site; you can add, delete, or edit any of the records.</p>
</div>
