@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Podecast";
}

<div class="pod">
    <h1>My Podcasts</h1>
    <button><a href="https://baconsale.com/" target="_blank" class="bg-light">Click here!</a></button>
</div>